*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100wh;
  background-color: rgb(236, 236, 236);
}

.heading{
  font-size: 2rem;
}

.header{
  text-align: center;
}

.headerline{
  height: 5px;
  width: 20%;
  background-color: rgb(125, 86, 167);
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
}

.card{
  display: flex;
  position: relative;
  flex-direction: column;
}

.imgdata{
  position: absolute;
  top: -7rem;
  z-index: 10;
  justify-content: flex-start;
}

.cardtext{
  text-align: center;
}

img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  z-index: 25;
  aspect-ratio: 1/1;
}

.backimg{
  position: absolute;
  top: -3px;
  left: 5px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: rgb(125, 86, 167);
  z-index: -10;
}

.cardheading{
  text-align: center;
  margin: 1rem;
}

.name{
  font-weight: bold;
  font-size: x-large;
  user-select: none;
  letter-spacing: 0.3px;
}

.job{
  margin-top: 5px;
  color: rgba(125, 86, 167, 0.611);
}

.cardtext{
  user-select: none;
  margin: 2px;
}

.testimonial{
  width: 85vw;
  max-width: 700px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.333);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.quateleft, .quateright{
  text-align: center;
  color: rgb(125, 86, 167);
}

.quateright{
  margin-top: 10px;
}

.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(125, 86, 167);
  margin: 1rem;
  cursor: pointer;
  gap: 3rem;
  font-weight: bold;

}

button{
  border: 1px solid white;
  cursor: pointer;
  background-color: rgb(125, 86, 167);
  user-select: none;
  padding: 0.5rem;
  font-weight: bold;
  color: aliceblue;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(126, 79, 176); 
  transition-duration: 1s;
}


